/* Vendor */
@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

/* Blocks */
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/intro/intro.css');
@import url('../blocks/place/place.css');
@import url('../blocks/testimonials/testimonials.css');
@import url('../blocks/footer/footer.css');

